body{
    background-color: rebeccapurple;
}

header{
    height: 10%;
    width: 100vw;
    display: flex;
    background-color: bisque;

}

header li img{
     height: 20px;
    width: 20px;

}

header li nav, header ul {
    display:flex
}

header li nav button{
    border: none;
    height: 5em;
    width: 2em;
    color: rgb(109, 34, 180);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1{
    color: brown;
    font-size: 60px;
    font-weight: 999;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#banner{
    height: 30vh;
    width: 100vw;
}
#banner img{
    height: 100%;
    width: 100%;
}

#content{
    height: 80vh;
    width: 100vw;
}