body{
    background-color: rebeccapurple;
}

header{
    height: 30vh;
    width: 100vw;
    display: flex;
    background: linear-gradient(25deg, rgb(136, 216, 245), rgb(218, 255, 186) , rgb(255, 220, 155), rgb(246, 250, 173), rgb(255, 177, 190), #ffa6ff);
    background-image:url("./images/image_900x675_1.png");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 30vh;
    background-position: end;
    align-items: start;
    justify-content: space-between;
    margin: 5px;
   
}
header ul{
    width: 80%;
    justify-content: space-around;
}
 header #first{
    display: flex;
    width: 60%;
    height: 2.5rem;
    
}
header input{
    width: 90%;
    border-radius: 5px;
    height: 2.5rem;
}
header #magnify{
     height: 30px;
    width: 20px;

}

header li nav, header ul {
    display:flex
}

header button{
    border: none;
    height: 2.5rem;
    width: 4rem;
    color: rgb(109, 34, 180);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1{
    color: rgb(187, 46, 46);
    font-size: 50px;
    font-weight: 999;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    gap: 0;
    background-color: aquamarine;
}



#content{
    height: 70vh;
    width: 100vw;

}

#burger-gallary{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #ffa6ff;
}

#content img{
    height: 300px;
    width: 350px;
}