body{
    background-color: rebeccapurple;
}

header{
    height: 30vh;
    width: 100vw;
    display: flex;
    background-image:url("./images/image_900x675_1.png");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 30vh;
    background-position: end;
    justify-content: space-around;
    align-items: start;
    background: linear-gradient(45deg, rgb(136, 216, 245), rgb(246, 250, 173), rgb(218, 255, 186) , rgb(255, 220, 155), rgb(255, 177, 190), #ffa6ff);
}

 header #first{
    display: flex;
    width: 60%;
    height: 2rem;
    background-color: aqua;
}

header #magnify{
     height: 20px;
    width: 20px;

}

header li nav, header ul {
    display:flex
}

header button{
    border: none;
    height: 2.5rem;
    width: 4rem;
    color: rgb(109, 34, 180);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1{
    color: brown;
    font-size: 50px;
    font-weight: 999;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    gap: 0;
}



#content{
    height: 80vh;
    width: 100vw;

}

#burger-gallary{
    display: grid;
    grid-template-columns: auto auto auto;
}